.footer {
  background: $blue;
  display: grid;
  grid-template-rows: 45% 45% 10%;
  height: 200px;
  place-items: center;
  width: 100%;
}

.footer-text {
  color: $white;
  font-size: 24px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.footer-logo {
  grid-column: 2/3;
  grid-row: 2/3;
  height: 70px;
}

.footer-copyright {
  color: $white;
  font-size: 10px;
  grid-column: 3/4;
  grid-row: 3/4;
  margin: 0 20px 15px 0;
  place-self: end end;
}
