.techs {
  display: flex;
  justify-content: space-around;
  flex-basis: 20%;
  padding-right: 5px;
}

.tech {
  background-color: $green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
