.title {
  font-size: 22px;
  margin: 50px 0 0 100px;
  padding-left: 100px;
  position: relative;

  &:before {
    content: '';
    background-image: url('assets/triangle.svg');
    background-size: 100px 90px;
    height: 90px;
    left: 35px;
    position: absolute;
    top: -38px;
    width: 100px;
    z-index: -1;
  }
}

.titles {
  margin: 0 0 0 100px;
}
